<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guide">

    <application
        android:name=".OfflineCapabiliy"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.TranslationActivity"></activity>
        <activity android:name=".activities.GlobalVars" />
        <activity android:name=".activities.Translator" />
        <activity
            android:name=".activities.WeatherActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.PlacesActivity" />
        <activity android:name=".activities.FoodActivity" />
        <activity
            android:name=".activities.PlacesDetail"
            android:noHistory="true" />
        <activity
            android:name=".activities.FoodDetail"
            android:noHistory="true" />
        <activity
            android:name=".activities.ForexActivity"
            android:noHistory="true" />
        <activity
            android:name=".activities.LandingActivity"
            android:noHistory="true" />
        <activity
            android:name=".activities.SimpleOfflineMapActivity"
            android:noHistory="true" />
        <activity
            android:name=".activities.GalleryActivity"
            android:noHistory="true" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity
            android:name=".activities.MapsActivity"
            android:label="@string/title_activity_maps"
            android:noHistory="true" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.MainActivity"
            android:label="Guide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CalendarActivity"
            android:label="Calendar Screen"
            android:noHistory="true" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="Event Screen"
            android:noHistory="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>